.header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: #5c6c84;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px 4px 0 0;

  h1 { font-size: 40px; }
  h3 { font-size: 26px; font-weight: 400; }

  h1,h3 {
    margin: 0;
  }

  span {
    margin-top: 5px;
    font-weight: 300;
  }

  .profile-image {
    background-image: url("/assets/images/profile_pic.jpeg");
    background-size: 110px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 10px;
  }
}


