// Margin
.ma { margin: auto; }
.mtba { margin-top: auto; margin-bottom: auto; }
.mlra { margin-left: auto; right: auto; }

.m5px { margin: 5px !important; }
.mt5px { margin-top: 5px !important; }
.mb5px { margin-bottom: 5px !important; }
.mtb5px { margin-top: 5px !important; margin-bottom: 5px !important; }

.m10px { margin: 10px !important; }
.mt10px { margin-top: 10px !important; }
.mb10px { margin-bottom: 10px !important; }
.mtb10px { margin-top: 10px !important; margin-bottom: 10px !important; }
