// Margin
.ma { margin: auto; }
.mtba { margin-top: auto; margin-bottom: auto; }
.mlra { margin-left: auto; right: auto; }

.m0 { margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mtb0 { margin-top: 0 !important; margin-bottom: 0 !important; }

.m5px { margin: 5px !important; }
.mt5px { margin-top: 5px !important; }
.mb5px { margin-bottom: 5px !important; }
.mtb5px { margin-top: 5px !important; margin-bottom: 5px !important; }

.m10px { margin: 10px !important; }
.mt10px { margin-top: 10px !important; }
.mb10px { margin-bottom: 10px !important; }
.mtb10px { margin-top: 10px !important; margin-bottom: 10px !important; }


// Padding
.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pb0 { padding-bottom: 0 !important; }
.ptb0 { padding-top: 0 !important; padding-bottom: 0 !important; }

.p5px { padding: 5px !important; }
.pt5px { padding-top: 5px !important; }
.pb5px { padding-bottom: 5px !important; }
.ptb5px { padding-top: 5px !important; padding-bottom: 5px !important; }

.p10px { padding: 10px !important; }
.pt10px { padding-top: 10px !important; }
.pb10px { padding-bottom: 10px !important; }
.ptb10px { padding-top: 10px !important; padding-bottom: 10px !important; }
